/* Estilo general para las tarjetas */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.02);
}

/* Estilo de imagen en la parte superior de la tarjeta */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Contenido de la tarjeta */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

/* Margen para título y párrafos */
.card-title, p {
    margin: 0;
}

/* Logo en la página */
.logoweb {
    max-width: 150px; /* Tamaño máximo ancho */
    height: auto;     /* Mantiene la proporción del logo */
    display: block;   /* Asegura que la imagen sea un bloque */
}

/* Estilos para la tarjeta grande */
.card-large {
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card-large .card-img-large {
    width: 100%;
    height: auto;
}

/* Estilos para la tarjeta pequeña */
.card-small {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-small .card-img-small {
    width: 100%;
    height: auto;
}

/* Estilo para los videos en tarjetas grandes */
.card-video-large {
    width: 100%;
    height: auto; /* Mantiene la proporción del video */
}

/* Estilo para los videos en tarjetas pequeñas */
.card-video-small {
    width: 100%;
    height: auto; /* Mantiene la proporción del video */
}